@use "../abstracts/variables" as v;
@use "../abstracts/typography" as t;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: t.$font-family-text;
  color: v.$text-color;
}

.scroll-reveal {
	opacity: 0%;
	transition: 0.3s ease-in-out;
	
	&.is-visible {
		opacity: 100%;
	}
}
