@use "variables" as *;

body {
  margin: 0;
  background-color: $background;
  color: $text;
  font-family: $font;
}

header {
  background: linear-gradient(
    200deg,
    rebeccapurple 0%,
    rgb(153, 51, 153) 50%,
    rgb(68, 33, 102) 100%
  );
  background-size: 400% 400%;
  animation: bgAnim 30s ease infinite;

  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 1;

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: calc(100% - 10rem);
    height: calc(100vh - 10rem);
    margin: 5rem;
    color: white;
    z-index: 1;
    columns: 0 2;

    .prof {
      margin: 100px;
      margin-right: 10rem;
      position: relative;
      height: 150px;
      width: 150px;

      *:not(img) {
        position: absolute;
        border-radius: 100%;
        opacity: 0.8;
        filter: blur(10px);
      }

      .ring {
				animation: blink 15s ease infinite;

        &:nth-child(1) {
          width: 130px;
          height: 130px;
          top: -10px;
          left: 90px;
          background: linear-gradient(125deg, lightgreen, orange);
          z-index: 2;
        }

        &:nth-child(2) {
          width: 150px;
          height: 150px;
          top: 80px;
          left: 100px;
          background: linear-gradient(95deg, red, pink);
          z-index: 3;

					animation-delay: -4s;
        }

        &:nth-child(3) {
          width: 200px;
          height: 200px;
          background: linear-gradient(-10deg, blue, aqua);
          z-index: 1;

					animation-delay: -7s;
        }

        &:nth-child(4) {
          width: 120px;
          height: 120px;
          top: 140px;
          left: 40px;
          background: linear-gradient(200deg, purple, palevioletred);
          z-index: 4;

					animation-delay: -13s;
        }
      }

      img {
        position: absolute;
        height: 200px;
        z-index: 5;
        border-radius: 100%;
        top: 28px;
        left: 35px;
      }
    }
  }
}

main {
  background-color: $background;
  z-index: 2;
  position: relative;
  padding: 2rem;
  height: 100vh;
}

footer {
  background-color: $section;
  z-index: 2;
  position: relative;
  text-align: center;
  padding: 1rem;

  .license {
    color: $shadowedText;

    a {
      color: $shadowedText;

      &:hover {
        color: $hoverLink;
      }
    }
  }
}

@keyframes bgAnim {
  0% {
    background-position: 80% 0%;
  }
  50% {
    background-position: 25% 100%;
  }
  100% {
    background-position: 80% 0%;
  }
}

@keyframes blink {
	0% {
		transform: scale(1.0);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1.0);
	}
}
