:root {
	--main-background: #090c10;
	--secound-background: #0d1117;
	--highlight-secound-background: #13171d;

	--text: #fff;
	--hidden-text: #a7a7a7;

	--panel: rgb(24, 27, 46);
	--highlight-panel: rgb(34, 39, 66);
}