@import url(/src/style/colors.css);

.social-link-box {
	text-decoration: inherit;
	color: inherit;
	background-color: var(--panel);
	display: flex;
	padding: 7px 12px 0px 12px;
	border-radius: 10px;
	text-align: center;
	width: fit-content;
	float: left;
	margin: 8px;
	user-select: none;

	transition: 0.6s;

	margin-bottom: 20px;
}

.social-link-box:hover {
	background-color: var(--highlight-panel);

	border-radius: 15px;

	transform: scale(1.05);
}

.social-link-box img {
	float: left;
	width: 70px;
	margin-bottom: 10px;
}