@import url(/src/style/colors.css);

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	background-color: var(--main-background);
	color: var(--text);
	display: flex;
}

.left-panel {
	background-color: var(--secound-background);
	text-align: center;
	min-width: 300px;
	float: left;
	left: 0px;
	top: 0;
	bottom: 0;

	top: 0;
	bottom: 0px;
	position: fixed;

	transition: 1s;
}

.left-panel img {
	transform: scale(1);

	transition: 0.5s;
}

.left-panel img:hover {
	transform: scale(1.1);
}

.left-panel h1 {
	transform: scale(1);

	transition: 0.5s;
}

.left-panel h1:hover {
	transform: scale(1.1);
}

.left-panel.desktop {
	background-color: var(--secound-background);
	text-align: center;
	min-width: 300px;
	float: left;
	left: 0px;
	top: 0;
	bottom: 0;

	top: 0;
	bottom: 0px;
	position: fixed;
}

.left-panel.close {
	left: -300px;

	transition: 1s;
}

.menu-button {
	background-color: var(--secound-background);
	border-radius: 5px;
	cursor: pointer;
	padding: 5px 7px 2px 7px;
	float: left;
	font-size: 25px;

	position: fixed;
	left: 10px;
	top: 10px;

	transition: 0.2s;
}

.menu-button:hover {
	background-color: var(--highlight-secound-background);
}

.prof {
	margin-top: 10px;
	height: 150px;
	width: auto;
}

.panel-button-active {
	background-color: var(--main-background);
	margin: 10px;
	display: flex;
	justify-content: center;
	border-radius: 10px;
	user-select: none;
	color: inherit;
	text-decoration: inherit;
	font-weight: bold;
}

.panel-button {
	margin: 10px;
	display: flex;
	justify-content: center;
	border-radius: 10px;
	user-select: none;
	color: inherit;
	text-decoration: inherit;

	color: var(--hidden-text);

	transition: 0.5s;
}

.panel-button:hover {
	background-color: var(--highlight-secound-background);
	color: var(--text);
}

.panel-button-active ion-icon, .panel-button ion-icon {
	position: absolute;
	margin-top: 9px;
	left: 28px;
}

.content {
	padding: 5px 25px;
	display:inline-block;

	margin-left: 300px;

	transition: 1s;
}

.content.desktop {
	padding: 5px 25px;
	display:inline-block;

	margin-left: 300px;
}

.content.full {
	margin-left: 0px;

	transition: 1s;
}

.page-link {
	user-select: none;
	color: inherit;
	text-decoration: inherit;

	background-color: var(--secound-background);
	padding: 7px 9px;
	margin: 0px 5px;
	border-radius: 7px;

	transition: 0.2s;

	color: var(--hidden-text);
}

.page-link:hover {
	background-color: var(--highlight-secound-background);
	color: var(--text);
}

.page-link-bar {
	margin-bottom: 40px;
}

@media only screen and (max-width: 700px){
	.left-panel {
		width: 100%;
	}

	.left-panel.close {
		left: -100%;
	}
}